body {
  background: #f4f5f7;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
  margin-bottom: 30px;
}

h2 {
  color: #444;
  margin-bottom: 12px;
}


form {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.08);
  margin-bottom: 20px;
}

form input,
form select {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}

form input:focus,
form select:focus {
  border-color: #5a78ff;
  outline: none;
}

/*Botoes*/
button {
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  transition: 0.2s;
}

button[type="submit"] {
  background: #5a78ff;
  color: white;
}

button[type="submit"]:hover {
  background: #3d57e8;
}

.btn-small {
  padding: 6px 10px;
  margin-right: 6px;
}

.btn-danger {
  background: rgb(220, 70, 70);
  color: white;
}

.btn-danger:hover {
  background: rgb(185, 50, 50);
}

button:hover {
  opacity: 0.9;
}

/*LISTA*/
ul {
  padding-left: 0;
}

li {
  background: white;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.06);
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.btns-line {
  margin-top: 6px;
}

/* CAMPO DE PESQUISA */
input.search {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #bbb;
  font-size: 15px;
}
